* {
  transition: 0.5s;
}
body {
  background-color: #4895ef;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .todo {
    .todo-box {
      background-color: #4cc9f0;
      border-radius: 25px;
      padding: 20px 10px;
      h1 {
        color: #f72585;
      }
      .todo-form {
        form {
          input {
            font-size: 16px !important;
            outline: none;
          }
        }
      }
      .todo-details {
        h1 {
          font-size: 10px;
          line-height: 25px;
          color: #560bad;
        }
      }
      .todo-list__items {
        h1 {
          color: #4cc9f0 !important;
        }
      }
      .todo-list__items:nth-child(2n + 1) {
        background: linear-gradient(
          90deg,
          rgba(93, 12, 255, 1) 0%,
          rgba(155, 0, 250, 1) 100%
        );
      }

      .todo-list__items {
        background: rgb(238, 67, 108);
        background: linear-gradient(
          135deg,
          rgba(238, 67, 108, 1) 18%,
          rgba(30, 12, 191, 1) 71%
        );
      }
    }
  }
}
.active-btn {
  font-size: 8px !important;
  font-weight: bold;
}
